{% extends 'srtpApp/index.html' %}
{% load static %}

{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href= {% static "css/public3.css" %}>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <title>查询</title>
{% endblock %}

{% block content %}
    <!-- 主体部分 -->
    <div id="body" style="position:relative;left:300px;top:50px;">
        <!-- 
        <p id="info1" style="width:400px;height:15px;text-align:center;color:red;font-size: 14px;position: relative;left:200px"></p>
        <p id="info2" style="width:400px;height:15px;text-align:center;color:red;font-size: 14px;position: relative;left:200px"></p>
        <p id="info3" style="width:400px;height:15px;text-align:center;color:red;font-size: 14px;position: relative;left:200px"></p>
        -->
        <form action = {% url 'srtpApp:checkURL' %} method="POST">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-group" style="width:500px;position: relative;left:200px">
                {{ form.course_name.errors }}
                <label for="{{ form.course_name.id_for_label }}">课程名称:</label>
                {{ form.course_name }}
            </div>

            <div class="form-group " style="width:400px;position: relative;left:200px">
                {{ form.week_num.errors }}
                <label for="{{ form.week_num.id_for_label }}">周数:</label>
                {{ form.week_num }}
            </div>

            <div class="form-group" style="width:500px;position: relative;left:200px">
                {{ form.weekday_num.errors }}
                <label for="{{ form.weekday_num.id_for_label }}">周几:</label>
                {{ form.weekday_num }}
            </div>

            <div class="form-group" id="upload" style="margin-top:5px;width:400px;position: relative;left:200px">
                {{ form.section_num.errors }}
                <label for="{{ form.section_num.id_for_label }}">节数:</label>
                {{ form.section_num }}
            </div>
            <div>
                <button name="submit" id="button" class="btn btn-primary" style="margin-top:5px;width:400px;position:relative;left:200px">确定</button>
                <p style="width:400px;height:15px;text-align:right;color:red;font-size: 14px;position:relative;left:200px">{{ error_info }}</p>
            </div>
        </form>
    </div>

{% endblock %}

{% block jsScript %}
<!--<script src= {% static "js/newSecInfo.js" %}></script>-->
{% endblock %}
